/*for custom font*/
@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

* {
    /*multiple for fall back*/
    font-family: roboto, sans-serif, serif;
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
    height:100%;
}

:root {
    --vw-lg: 1920px;
    --vw-md: 1200px;
    --vw-sm: 900px;

    --blackborder: 1px solid black;
}

/*for container grid
applies to main content after header*/
main {
    /*best way for css grid*/
    display: grid;
    /* fr is fraction of the width, repeat  2 times*/
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 3vh 5vw 0 2vw;
    padding: 0 5vw 0 0;

}

.welcomemessage {
    padding: 0 3vw 0 0;
    grid-column: 1 / span 3;
    grid-row: 1;
}


.personatitle{
    grid-column: 1 / span 3;
    grid-row: 1;
}

.twopersona {
    /*fill the entire screen and scale*/
    grid-column:1 / span 3;
    grid-row: 2;
    
}
/*want to fill page generally*/
.twopersona img {
    width: 100%;
}

.threepersona{
    grid-column:1/ span 3;
    grid-row:3;
    margin: 0 0 0 2vw;
    
}
/*want to center with 50%*/
.threepersona *{
    width: 69%;
}
/*two and tree same except width*/


/*projects page*/
.oneproject{
    grid-column: 1 / span 2;
    grid-row: 1;
    /*ordered list*/
    margin: 1rem;
}
.twoproject{
    grid-column: 1 / span 2;
    grid-row: 2;
    
}


/*contact page*/
.onecontact{
    grid-column: 1;
    grid-row: 1;
    padding: 8vh 4vw;
   
}
.onecontact > details > summary {
    padding: 1vh 0;
}

.schedule{
    grid-column: 2;
    grid-row: 1 ;
    
}
.threecontact{
    grid-column: 3;
    grid-row: 1; 
}


.extramain{
    gap: 1.5rem;
}

/*logo and page name*/
header h1{
    background-color: black;
    /*padding to vertically center, relative to font size*/
    padding: 0.5em;
    
    
}

header a {
    /* so that when clicked on it doenst turn purple and underlined */
    text-decoration:none;
    color: white; 
    padding: 0.5em;
}

header nav {
    background-color: #36454f;
    padding: 0 0 0 1vw;
    

}
header > nav a {
    color: White;
    display:inline-block;
    text-align: center;
    /*for spacing the elements, ok for all device*/
   
    /*only for vertical*/
    font-size: 1.1em;
    /*link padding same with nav padding, easy to press buttons*/
    /*don't want menu to expand horizonally, so absolute vales*/
}

/*if class specific just use it directly*/
.nothingbutton > button {
    margin: 1vh 2vw;
    font-size: 0.9rem;
}

footer {
    margin: 15vh 0 0 0;
}

body * {
    font-size: 1.05em;
}

legend {
    border: var(--blackborder);
}


/*for animations*/
body div{
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: s1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes s1{
    0% {background-color: red;}
    50% {background-color: orange;}
    100% {background-color: yellow;}
}


.s1{
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: s1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes s1{
    0% {background-color: blue;}
    50% {background-color: green;}
    100% {background-color: yellow;}   
}

.s2{
    width: 50px;
    height: 50px;
    background-color: green;
    animation-name: s2;
    transition: width 3s;
}

.s2:focus{
    width: 250px;
}


.s3{
    width: 50px;
    height: 50px;
    background-color: black;
    animation-name: s3;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes s3{
    0% {}
    50% {transform: rotate(0.5turn)}
    100% {transform: rotate(1turn)}
}


/*rules below will override the rules above*/
@media screen and (max-width: 1200px) {
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .welcomemessage {
        padding: 0 3vw 0 0;
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .personatitle{
        grid-column:1 span 2;
        grid-row:1;
    }
    .schedule{
        grid-column: 2;
        grid-row: 1 ;
        
    }
    .threecontact{
        grid-column: 2;
        grid-row: 2; 
    }
}

/*small screen*/
@media screen and (max-width: 900px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;   
    }
    .welcomemessage {
        padding: 0 3vw 0 0;
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    .personatitle{
        grid-column:1 span 1;
        grid-row:1;
    }
    .schedule{
        grid-column: 1;
        grid-row: 2 ;
        
    }
    .threecontact{
        grid-column: 1;
        grid-row: 3; 
        margin: 5vh 0 0 0;
    }
}

